<%= render partial: "shared/header" %>
<div class="container">
    <% @name_btn = "Update"; @form_name = "EDIT" %>
    <%= render partial: "users/form_user" %>
</div>
<%= render partial: "shared/footer" %>