<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Demo App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" %>
    </head>
    <body>
        <div class="container-full">
            <%= render partial: "shared/menu" %>
        </div>
        <% yield %>

