<div class="d-flex col col-lg-12">
    <div class="d-flex left-menu">
        <ul class="nav-item">
            <li class="menu-item"><a href="">Home</a></li>
            <li class="menu-item"><a href="">Products</a></li>
            <li class="menu-item"><a href="">About</a></li>
            <li class="menu-item"><a href="">Help</a></li>
        </ul>
    </div>
    <div class="d-flex right-menu">
        <ul class="nav-item">
            <li><%= link_to  "Sign In", login_path %></li>
        </ul>
    </div>
</div>