<%= render partial: "shared/header" %>
<div class="container">
    <% @name_btn = "Sign Up"; @form_name = "Create User" %>
    <%= render partial: "form_user" %>
</div>
<%= render partial: "shared/footer" %>