body {
    .container-full {
        width: 100%;
        margin: 0 auto;
        background: #092842;
        .left-menu {
            width: 80%;
            float: left;
            .nav-item {
                list-style: none;
                display: flex;
                margin: 10px 0;
                li {
                    flex: 1 0 auto;
                    margin: 8px 20px;
                    a {
                        text-decoration: none;
                        color: #000;
                        font-weight: 500;
                        font-size: 14px;
                        text-transform: uppercase;
                        color: #fff;
                    }
                }
            }
        }
        .right-menu {
            width: 20%;
            float: right;
            .nav-item {
                list-style: none;
                display: flex;
                margin: 10px 0;
                li {
                    flex: 1 0 auto;
                    margin: 8px 20px;
                    a {
                        text-decoration: none;
                        color: #000;
                        font-weight: 500;
                        font-size: 14px;
                        text-transform: uppercase;
                        color: #fff;
                    }
                    .sub-menu {
                        list-style: none;
                        display: none;
                        padding: 5px;
                    }
                    &:hover .sub-menu {
                        display: block;
                        background: #092842;
                        position: absolute;
                        z-index: 10000;
                    }
                }
            }
        }
    }
    .container {
        width: 90%;
        margin: 0 auto;
        padding: 20px 0;
        h1,
        h2 {
            padding: 10px;
            text-align: center;
        }
        .form-user {
            width: 500px;
            margin: 10px auto;
            background: #05b2b8;
            padding: 20px 50px;
            .row {
                width: 100%;
                margin: 4px 0px;
                label {
                    width: 30%;
                    margin: 4px 0px;
                }
                input {
                    width: 70%;
                    padding: 4px 8px;
                }
                input[ type="submit"] {
                    margin-top: 10px;
                    margin-left: 30%;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 6px 20px;
                }
                .remember {
                    width: 70%;
                    display: inline-block;
                    margin-left: 30%;
                    label {
                        width: 100%;
                        input[ type="checkbox"] {
                            width: 15px;
                            height: 15px;
                            padding: 5px;
                        }
                    }
                    p {
                        margin: 10px 0px;
                    }
                }
            }
        }
    }
}